
*{
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

.App {
  text-align: center;
  width: 100vw;
  height: 100vh;

}

.Pictures {
  /*margin: 10px;*/
  width: fit-content;
  margin: auto;
  border-width: 10px;
  border-radius: 50px;
  /*border-style: solid;*/
  /*border-color: green;*/
  display: flex;
}
img {
  margin: 10px;
  width: 100px;
  border-radius: 50px;

}

.Board {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  background-color: darkslategrey;
}
.board-container{
  width: fit-content;
  margin: auto;
}

.main{
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 7rem;
  height: 40vh;
  border-radius: 20px;
  background-color: rgba(255,255,255, 0.3);


}

.main form{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  /*display: inline-flex;*/
  /*box-sizing: border-box;*/
}

label{
  font-size: 1rem;
  margin-bottom: 12px;

}
input{
  /*width: 40%;*/
  border-radius: 20px;
  height: 20%;
  padding: 12px 12px;
  box-sizing: border-box;
  text-align: center;

}

#email{
  margin-bottom: 20px;
}

#password{
  margin-bottom: 10px;
}

.main button{
  /*width: 20%;*/
  padding: 12px 12px;
  margin: 5px 0;
  background: forestgreen;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
}

.drag-class{
  align-items: center;
  align-content: center;
  background-color: dimgrey;
  margin: auto;
}
@media (max-width: 750px) {
  .Pictures{
    display: block;
  }
}

@media (max-width: 650px) {
  .header{
    font-size: 18px;
  }
  label{
    font-size: 14px;

  }
  input{
    height: 1rem;
  }
  .main button{
    font-size: 14px;
  }
  form{
    margin-top: 1rem;
  }
  
}
@media (max-width: 412px) {
  .main{
    width: 80%;
    margin: 5rem auto;
  }
  .main button{
    font-size: 12px;
  }
}





